TYPEORM_CONNECTION=mysql
TYPEORM_HOST=localhost
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
TYPEORM_PORT=3306

NODE_ENV=dev ##prod

DATABASE_URL=mysql://${TYPEORM_USERNAME}:${TYPEORM_PASSWORD}@${TYPEORM_HOST}:${TYPEORM_PORT}/${TYPEORM_DATABASE}

API_PORT=3333

JWT_SECRET=
PDV_SECRET= ##SECRET PARA CRIPTOGRAFIA DE SENHA DO PDV

# SMTP service
SMTP_HOST=smtp-mail.outlook.com
SMTP_PORT=587
SMTP_TO= ##EMAIL DE CONTATO
SMTP_FROM= ##EMAIL PARA ENVIO DE RECUPERAÇÂO DE SENHA
SMTP_USERNAME=
SMTP_PASSWORD=

# AWS S3
AWS_BUCKET_REGION=sa-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=

## TYPEORM SETTINGS ##
TYPEORM_ENTITIES=src/**/*.entity.ts
TYPEORM_ENTITIES_DIR=src/entities
TYPEORM_MIGRATIONS=src/database/migrations/**/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations

SSL_BASE_PATH=/etc/letsencrypt/live/##DOMAIN