<strong>Olá.</strong>
<p>Você foi cadastrado no nosso sistema e estamos te enviando o código necessário para cadastrar sua senha, confira abaixo:</p>
<p>
  <strong>Código: </strong> {{ code }}<br />
  <br />

  <small>Este código tem duração de 60 minutos.</small>
</p>
